*{
    margin: 0%;
    padding: 0%;
}

#pagina{
    height: 100vh;/*VH viewport height*/
    width: 100%;
    background-color: #aec3b0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main{
    width: 70%;
    height: 600px;
    background-color: #efebce;
    border-radius: 10px;
    box-shadow: black;
    display: flex;
    overflow: hidden;
}

#banner, #formulario{
    width: 50%;
    height: 100%;
}

#banner{
    background-image: url(../images/banner-cerâmica.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#efeito{
    width: 100%;
    height: 100%;
    background: linear-gradient( #ffffff5e, #768f4c75);
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16pt;
}

h2{
    color:rgb(72, 99, 41);
    margin: 20px 0px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
    animation: borda 1.5s infinite;
}

input:focus{
    width: 400px;
    height: 40px;
    transition: 0.1s;
    background-color: aquamarine;
    color: azure;
}

input:hover{
    background-color: bisque;
    transition: 0.2;
}

input::placeholder{
    color: chocolate;
}

@keyframes borda{
    0%{
        border: 6px solid salmon;
        transition: 0.5s;
    }

    50%{
        border: 6px solid rgb(114, 250, 132);
        transition: 0.5s;
    }

    100%{
        border: 6px solid rgb(162, 114, 250);
        transition: 0.5s;
    }
}

button{
    width: 200px;
    height: 30px;
    margin: 10px auto;
    background-color: #aec3b0;
    border-radius: 20px;
}

button:active{
    background-color: #aec3b0;
    color: crimson;
}
button:hover{
    width: 250px;
    height: 35px;
    background-color: brown;
    font-weight: bold;
    transition: 0.5;
}